<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>カレンダー</title>
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>サイトのヘッダー</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <header class="site-header">
    <div class="header-content">
      <span class="site-title">昇家 三蔵</span>
    </div>
  </header>
  <!-- ここに他のコンテンツを追加 -->
</body>
  

  <main>
    <div class="wrapper">
      <!-- xxxx年xx月を表示 -->
      <h1 id="header"></h1>
    
      <!-- ボタンクリックで月移動 -->
      <div id="next-prev-button">
          <button id="prev" onclick="prev()">‹</button>
          <button id="next" onclick="next()">›</button>
      </div>
    
      <!-- カレンダー -->
      <div id="calendar"></div>
      <div id="shiftModal" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <h1 id="shiftDate"></h1>
            <span class="modalClose">×</span>
          </div>
          <div class="modal-body">
            <select id="shiftTime" class="form-select" aria-label="select example">
              <option selected>出勤時間</option>
              <option value="15:00~">15:00</option>
              <option value="15:30~">15:30</option>
              <option value="16:00~">16:00</option>
              <option value="16:30~">16:30</option>
              <option value="17:00~">17:00</option>
              <option value="17:30~">17:30</option>
              <option value="18:00~">18:00</option>
            </select>
            <div id="user_on_shift"></div>
            <div class="mb-3">
              <br><label for="exampleFormControlTextarea1" class="form-label">備考</label></br>
              <textarea class="form" id="exampleFormControlTextarea1" placeholder="22時あがりなど" rows="3"></textarea>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary" onclick="submit()">提出</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
  </main>

  <footer>
    <!-- フッター作成予定 -->
    <p></p>
  </footer>
</body>
</html>
